<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net452" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="2.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="HtmlAgilityPack" version="1.6.13" targetFramework="net452" />
  <package id="MailKit" version="2.0.1" targetFramework="net452" />
  <package id="MimeKit" version="2.0.1" targetFramework="net452" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net452" />
  <package id="ServiceNow.Api" version="1.0.11" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
</packages>